* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #107ec4;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, rgb(156, 171, 255), rgb(36, 47, 196))
}

.container {
  display: flex;
  background: rgb(235, 235, 235);
  width: 850px;
  height: 500px;
  align-content: stretch;
  border-radius: 3% 3%;

}

.container img{
  opacity: 30%;
}
